---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    {% assign post_list = '' | split: ',' %}
    {% assign tag_list = '' | split: ',' %}

    <ul class="blog-posts">
        {% for post in site.posts %}
            {% if post.date | date: "%Y" == page.year %}
                {% assign post_list = post_list | push: post %}
                {% for tag in post.tags %}
                    {% assign tag_list = tag_list | push: tag %}
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% for post in post_list %}
            {% unless post == previous %}
            <li>
                <span>
                    <i>
                        <time datetime="{{ post.date | date_to_xmlschema }}" pubdate="">
                            {{ post.date | date: "%b %-d, %Y" }}
                        </time>
                    </i>
                </span>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endunless %}
            {% assign previous = post %}
        {% endfor %}
    </ul>

    <small>
        {% assign unique_tags = tag_list | uniq %}
        {% for tag_slug in unique_tags %}
            <a href="{{ 'tagged/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">
                #{{ tag_slug }}
            </a>
        {% endfor %}
    </small>

</main>

{% include footer.html %}
</body>
</html>
